<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="output.css">
</head>

<body>
    <%- include('navbar') %>
        <div class="main flex flex-wrap w-[100vw] not-md:block">

        </div>
    <script src="image.js"></script>
</body>

</html>