<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="output.css">
</head>

<body class="flex justify-center items-center min-h-[100vh] bg-[#061E29] ">
    <form action="/signup" method="post">


        <div class="box1 border-2 border-black w-[30vw] h-[60vh] rounded-2xl bg-white not-md:w-[90vw] not-md:h-[52vh]">
            <div class="box2">
                <h1 class="text-4xl text-center font-sans my-5">Sign up</h1>
                <div class="box3 flex justify-center items-center text-xl ">
                    <div class="box4 space-y-3">
                        <div class="Email flex w-[25vw] justify-between not-md:w-[85vw] ">
                            <p>Email -</p>
                            <input type="email" class="border-2 border-black rounded-2xl " name="email">
                        </div>
                        <div class="pass flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>Password -</p>
                            <input type="password" class="border-2 border-black rounded-2xl" name="password" >
                        </div>
                        <div class="institute flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>Institute -</p>
                            <input type="text" class="border-2 border-black rounded-2xl" name="Institute">
                        </div>
                        <div class="fee flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>Fee -</p>
                            <input type="text" class="border-2 border-black rounded-2xl" name="fee">
                        </div>
                        <div class="fromDate flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>From Date -</p>
                            <input type="date" class="border-2 border-black rounded-2xl" name="fromDate">
                        </div>
                        <div class="toDate flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>To Date -</p>
                            <input type="date" class="border-2 border-black rounded-2xl" name="toDate">
                        </div>
                        <div class="to flex w-[25vw] justify-between not-md:w-[85vw]">
                            <p>To -</p>
                            <input type="text" class="border-2 border-black rounded-2xl" name="to">
                        </div>
                    </div>
                </div>
                <div class="but flex justify-center items-center mt-7">
                    <input type="submit" value="Signup" class="not-md:w-[20vw] w-[8vw]  h-[5vh] rounded-2xl border-2 border-black bg-[#061E29] text-white">
                </div>
                
            </div>
    </form>
</body>

</html>