<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabular</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="tab flex justify-center mt-5 ">
            <table class="border-2 text-sm">
                <thead>
                    <tr>
                        
                        <th class="border-2 w-8 not-md:w-4">id</th>
                        <th class="border-2 w-70 not-md:w-15">Name</th>
                        <th class="border-2 w-70 not-md:w-15">Parent's Name</th>
                        <th class="border-2 w-20 not-md:w-1">Class</th>
                        <th class="border-2 w-70 not-md:w-15">From</th>
                        <th class="border-2 w-70 not-md:w-15">To</th>
                        <th class="border-2 w-30 not-md:w-1">Fee</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <script src="tabular.js"></script>
</body>

</html>